<%#include "users.h" %>

<% tfetch(Users, user) %>
<% tfetch(Profiles, profile) %>
<% tfetch(bool, canBeEdited) %>


<div id="info"></div>
<h3><%= user.username() %> <%== H::userStatusImage(user.isOnline()) %></h3>

<div id="profilePage">
    <div id="leftCol">
        <div id="photo">
            <% const bool& avatarExists = !profile.avatar().isEmpty() && H::imageExists("avatars/" + profile.avatar());
            if(avatarExists) { %>
                <%== imageTag("/images/avatars/" + profile.avatar()) %>
                <br>
                <br>
            <% } %>

            <% if(canBeEdited) { %>
                <%== formTag(H::createUrl({"user", QString::number(user.id()), "profile_avatar"}), Tf::Post, true) %>

<%== inputFileTag("avatar", profile.avatar()) %><br>
<%== inputHiddenTag("old_avatar", profile.avatar()) %><br>

                    <% if(avatarExists) { %>
                        <%= H::tr("Delete avatar") %> <%== checkBoxTag("delete_avatar", "0", false) %><br>
                    <% } %>

                    <%== submitTag(H::tr("Save"), a("class", "button")) %>

                </form>
            <% } %>

        </div>
        <div id="profileOptions"></div>
    </div>
    <div id="info">

        <% const QString& editLink = linkTo(imageTag(imagePath("userfield_edit.gif")), QUrl("#"), Tf::Get, a("class", "edit_info")); %>

        <p>
            <strong><%= H::tr("Name") %>:</strong>
            <span<%= H::specifiedClass(profile.name()) %>><%= profile.name() %></span>
            <% if(canBeEdited) { %>
                <%== editLink %>
                <%== inputTextTag("name", profile.name(), a("class", "hidden")) %>
            <% } %>
        </p>

        <p>
            <strong><%= H::tr("Interests") %>:</strong>
            <span<%= H::specifiedClass(profile.interests()) %>><%= profile.interests() %></span>
            <% if(canBeEdited) { %>
                <%== editLink %>
                <%== inputTextTag("interests", profile.interests(), a("class", "hidden")) %>
            <% } %>
        </p>

        <p>
            <strong><%= H::tr("Experience") %>:</strong>
            <span<%= H::specifiedClass(profile.exp()) %>><%= profile.exp() %></span>
            <% if(canBeEdited) { %>
                <%== editLink %>
                <%== inputTextTag("exp", profile.exp(), a("class", "hidden")) %>
            <% } %>
        </p>

        <p>
            <strong><%= H::tr("About me") %>:</strong>
            <span<%= H::specifiedClass(profile.aboutMe()) %>><%= profile.aboutMe() %></span>
            <% if(canBeEdited) { %>
                <%== editLink %>
                <%== inputTextTag("about_me", profile.aboutMe(), a("class", "hidden")) %>
            <% } %>
        </p>

        <p>
            <strong><%= H::tr("Signature") %>:</strong>
            <span<%= H::specifiedClass(profile.signature()) %>><%= profile.signature() %></span>
            <% if(canBeEdited) { %>
                <%== editLink %>
                <%== inputTextTag("signature", profile.signature(), a("class", "hidden")) %>
            <% } %>
        </p>
    </div>
    <div class="clear"></div>
</div>

<script>
$(function() {
    $('#profilePage a.edit_info').click(function() {
        $(this).parent().children('input').removeClass('hidden')
        $(this).parent().children('input').focus()
        return false
    })

    $('#profilePage input').blur(function() {

        if($(this).attr('type') != 'text')
            return
        if(this.value != $(this).parent().children('span').html())
        {
            var params = {id: <%= user.id() %>}
            params[this.name] = this.value
            $.post('/user/profile.html', params, function(ans) {
                var info = $('#info')
                info.removeClass()
                if(ans)
                {
                    info.text('<%= H::tr("Profile was successfully updated") %>')
                    info.addClass("alert alert-success")
                }
                else
                {
                    info.text('<%= H::tr("Updating profile failed, sorry") %>')
                    info.addClass("alert alert-warning")
                }
            })
        }
        $(this).addClass('hidden')
        $(this).parent().children('span').html(this.value)
    })
})
</script>
