<%#include "codes.h" %>
<% tfetch(QString, title) %>

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="заметка, добавить заметку, pastebin, загрузка картинок">
  <meta name="description" content="SaveCode.RU - это сайт, где Вы можете сохранить любой текст с картинками или без них, без регистрации и навязчивой рекламы.">
  <title><%= title %></title>
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
  <![endif]-->
  <%== styleSheetTag("application.css", a("media", "all") | a("data-turbolinks-track", "true") | a("rel", "stylesheet")) %>
  <%== styleSheetTag("styles.css", a("media", "all") | a("data-turbolinks-track", "true") | a("rel", "stylesheet")) %>
  <%== styleSheetTag("/images/apple-touch-icon-144x144-precomposed.png", a("sizes", "144x144") | a("type", "image/png") | a("rel", "apple-touch-icon-precomposed")) %>
  <%== styleSheetTag("/images/apple-touch-icon-114x114-precomposed.png", a("sizes", "114x114") | a("type", "image/png") | a("rel", "apple-touch-icon-precomposed")) %>
  <%== styleSheetTag("/images/apple-touch-icon-precomposed.png", a("type", "image/png") | a("rel", "apple-touch-icon-precomposed")) %>
  <%== styleSheetTag("/images/favicon.ico", a("type", "image/vnd.microsoft.icon") | a("rel", "shortcut icon")) %>
    <script data-turbolinks-track="true" src="/js/jquery-2.1.4.min.js" charset="utf-8" type="text/javascript"></script>
    <script data-turbolinks-track="true" src="/js/application.js" charset="utf-8" type="text/javascript"></script>
    <script data-turbolinks-track="true" src="/js/bbcodes.js" charset="utf-8" type="text/javascript"></script>
    <script data-turbolinks-track="true" src="/js/prettyPhoto.js" charset="utf-8" type="text/javascript"></script>
    <script src="/ace/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<%== renderPartial("links") %>

<div class="container-fluid">
  <div class="row-fluid">
  <div class="col-md-2" style="width: 250px;display: inline-block">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header"><%= H::tr("Listing codes") + QString(" (%1)").arg(Codes::count()) %></li>
          <% auto codesList = Codes::getAll(httpRequest().queryItemValue("page", "1").toInt());
          if(codesList.empty())
          {
            renderPartial("error", QVariantMap({{"error", QVariant("Page not found")}}));
          }
          else
          {
              for(const auto& code: codesList) {  %>
                <% QString uri = QString(httpRequest().header().path()); %>
        <li<%== uri.contains( QRegExp(QString("/codes/(?:%1|%2).html").arg(code.id()).arg(code.codeUrl()), Qt::CaseInsensitive) ) ? " class=\"current\"" : "" %>>
            <%== linkTo(H::truncate(code.title(), 18), H::createUrl({"codes", QString::number(code.id())}, httpRequest().queryItemValue("page", "1"))) %>
        </li>
               <% }
           } %>
   </ul>
       <div class="apple_pagination">
         <%== H::paginationLinks(httpRequest().queryItemValue("page", "1").toInt(), Codes::pagesCount()) %>
       </div>
     </div>
   </div>
    <div class="col-md-8" style="min-width: 650px;display: inline-block">


<% tfetch(QString, notice) %>
<% tfetch(QString, error) %>
<% tfetch(QString, warning) %>
<% tfetch(QString, success) %>
<% QMap<QString, QString> flashes;
flashes.insert("notice", notice);
flashes.insert("alert", error);
flashes.insert("success", success);
flashes.insert("warning", warning); %>
<%== H::getFlash(flashes) %>

      <%== yield() %>
    </div>
  </div>
</div>

<footer class="navbar-fixed-bottom">
  <div class="container">
    Just for fun. Just for save.
  </div>
</footer>

</body>
</html>
