<%#include "privatemessages.h" %>

<%== renderPartial("private_messages_links") %>
<br><br>

<% tfetch(PrivateMessages, message) %>
<% tfetch(QString, action) %>
<div class="field">
<label><%= H::tr("Title") %></label>
<input type="text" name="codes[title]" value="<%= message.title() %>" style="width: 400px" class="form-input" />
</div>
<% if(action == "inbox") { %>
    <p>
      <label><%= H::tr("From") %>:<label>
<strong><span<%= H::specifiedClass(message.userFrom().username()) %>>
    <%== H::specifiedText(message.userFrom().username(), linkTo(message.userFrom().username(), H::createUrl({"user", QString::number(message.userFrom().id())}), Tf::Get, "", a("class", "link"))) %>
</span></strong>
    </p>
<% } else { %>
    <p>
      <label><%= H::tr("To") %>:<label>
<strong><span<%= H::specifiedClass(message.userTo().username()) %>>
    <%== H::specifiedText(message.userTo().username(), linkTo(message.userTo().username(), H::createUrl({"user", QString::number(message.userTo().id())}), Tf::Get, "", a("class", "link"))) %>
</span></strong>
    </p>
<% } %>
<p>
  Текст сообщения:
<hr style="margin:3px;margin-top:-2px;">
<div style="padding:15px">
        <%== H::parseCode(message.text()) %>
</div>
</p>

<% if (!message.file().isEmpty() && H::fileExists(message.file())) { %>
    <p>
      <strong>Скачать:</strong>
<%== linkTo(QString("%1 (%2)").arg(H::tr("file")).arg(message.file()), QUrl("/private_messages/" + message.file()), Tf::Get, "", a("class", "link")) %>
    </p>
<% } %>
<hr style="margin:0;margin-bottom:30px">


        <div class="bbcodes">
            <div class="bold">
                <%== linkTo("B", QUrl("#"), Tf::Get, "", a("class", "bbcode html") | a("data-editor", "b"))  %>
                <%== linkTo("I", QUrl("#"), Tf::Get, "", a("class", "bbcode cursive") | a("data-editor", "i"))  %>
                <%== linkTo("U", QUrl("#"), Tf::Get, "", a("class", "bbcode underline") | a("data-editor", "u"))  %>
                <%== linkTo("S", QUrl("#"), Tf::Get, "", a("class", "bbcode del") | a("data-editor", "s"))  %>
                <%== linkTo("IMG", QUrl("#"), Tf::Get, "", a("class", "bbcode html") | a("data-editor", "img"))  %>
                <%== linkTo("URL", QUrl("#"), Tf::Get, "", a("class", "bbcode html") | a("data-editor", "url"))  %>
            </div>
            <% for(const auto& tag: H::codesTitles().toStdMap()) { %>
                <%== linkTo(tag.first, QUrl("#"), Tf::Get, a("class", "bbcode") | a("data-editor", tag.second)) %>
            <% } %>
        </div>
        <br>
        <div class="field" style="">

            <textarea rows="15" style="width:700px" class="editor" data-editor="javascript" class="form-input" required><%= message.text() %></textarea>
        </div>
<input type="hidden" id="code" name="codes[code]" value="<%= message.text() %>">

            <div class="field">
            <small><i><%= H::tr("Note: If picture less than 150x150, it will be resized to it") %></i></small><br>
            <label><%= H::tr("Image") %></label>
                   <input type="file" name="attachments[]" multiple>
            </div>

        <script type="text/javascript">
        var editors = [], i = 0;
        $('.editor').each(function(key, editor) {
            editors[i] = ace.edit(editor);
            editors[i].setTheme("ace/theme/eclipse");
            editors[i].getSession().setMode("ace/mode/" + (editor.lang ? editor.lang.toLowerCase() : 'javascript'));
            editor.style.fontSize='16px';
            var height = editors[i].getSession().getLength() * 18;
            editor.style.height = (height > 500 ? 500 : (height < 150 ? 150 : height)) + 'px'
            editors[i].setReadOnly(true)
            ++i;
        })

        var editor = document.getElementById('message')

        editors[i] = ace.edit('message');
        editors[i].setTheme("ace/theme/eclipse");
        editors[i].getSession().setMode("ace/mode/" + (editor.lang ? editor.lang.toLowerCase() : 'javascript'));
        editor.style.fontSize='16px';
        editor.style.height = '500px'
        </script>
