<%#include "applicationhelper.h" %>
<div class="navbar navbar-fluid-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid">

      <%== linkTo("SaveCode.RU", QUrl("/"), Tf::Get, "", a("class", "navbar-brand")) %>

      <div class="container-fluid nav-collapse" role="navigation">

        <ul class="nav navbar-nav" aria-labelledby="dLabel">

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= H::tr("Codes") %> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%== linkTo(H::tr("Insert code"), H::createUrl({"codes", "new"})); %></li>
              <% if(QString(httpRequest().header().path()).contains(QRegExp("codes/\\d+\\.html", Qt::CaseInsensitive))) { %>
              <li>
                <%== linkTo(H::tr("Edit code"), QUrl(QString(httpRequest().header().path()).replace(".html", "/edit.html"))) %>
              </li>
              <% } %>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= H::tr("Pictures") %> <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><%== linkTo(H::tr("Listing pictures"), H::createUrl("attachments", 1)) %></li>
                  <li><%== linkTo(H::tr("Upload picture"), H::createUrl({"attachments", "new"})) %></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= H::tr("Users") %> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%== linkTo(H::tr("Listing users"), H::createUrl("users", 1)) %></li>
              <% if(controller()->isUserLoggedIn()) { %>
<%#include "privatemessages.h" %>
              <% tfetch(Users, user); %>
                 <li><%== linkTo(H::tr("Profile"), H::createUrl({"user", "profile"})) %></li>
                 <li><%== linkTo(QString("%1 (%2)").arg(H::tr("Private Messages")).arg(QString::number(PrivateMessages::count(user.id()))), H::createUrl({"pm", "inbox"})) %></li>
                 <li><%== linkTo(H::tr("Log out"), H::createUrl({"user", "logout"}), Tf::Delete) %></li>
              <% } else { %>
              <li><%== linkTo(H::tr("Sign"), H::createUrl({"user", "login"})) %></li>
                  <li><%== linkTo(H::tr("Sign up"), H::createUrl({"user", "register"})) %></li>
              <% } %>
            </ul>
          </li>

          <% if (false && controller()->isUserLoggedIn()) { %>
            <li><%== linkTo(H::tr("Chat"), H::createUrl("show_hide_chat", 1), Tf::Get, "", a("class", "chat")) %></li>
          <% } %>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= H::tr("Language") %> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li>
                <%== linkTo(imageTag(imagePath("flag_russian.gif"), a("alt", "Русский язык")) + " Русский",
                            H::createUrl("/language/russian", 1), Tf::Get, "", a("alt", "Русский язык") | a("title", "Русский язык")) %>
              </li>
              <li>
                <%== linkTo(imageTag(imagePath("flag_english.gif"), a("alt", "English")) + " English",
                            H::createUrl("/language/english", 1), Tf::Get, "", a("alt", "English") | a("title", "English")) %>
              </li>
            </ul>
          </li>

      <% if(false && controller()->isUserLoggedIn() /* && current_user.admin*/) { %>
          <li>
    <%#== linkTo(" X ", H::createUrl({"codes", "show_delete_links"}), style: "color:red") %>
          </li>
          <li>
    <%#== linkTo(" X ([a;b]) ", H::createUrl({"codes", "delete_interval"}), style: "color:red") %>
          </li>
      <% } %>
        </ul>
      </div>
    </div>
  </div>
</div>
