<div class="post">
        <b>SaveCode.RU</b> - <%= H::tr("main_text") %>.<br><br><br>
        <%= H::tr("simple_save") %>:<br><br>

        <div class="example">
<%== linkTo(
            imageTag("insert_code/insert_code_example.png", a("class", "attach") | a("alt", "Написание кода")),
            imagePath("insert_code/insert_code_example.png"),
            Tf::Get, "", a("rel", "prettyPhoto[gallery]")) %>

<b> -> </b>
<%== linkTo(
            imageTag("insert_code/insert_code_example_2.png", a("class", "attach") | a("alt", "Добавление кода")),
            imagePath("insert_code/insert_code_example_2.png"),
            Tf::Get, "", a("rel", "prettyPhoto[gallery]"))  %>

<b> -> </b>
<%== linkTo(
            imageTag("insert_code/insert_attachment_example.png", a("class", "attach") | a("alt", "Выбор кода и изображения")),
            imagePath("insert_code/insert_attachment_example.png"),
            Tf::Get, "", a("rel", "prettyPhoto[gallery]"))  %>

<b> -> </b>
<%== linkTo(
            imageTag("insert_code/insert_attachment_example_2.png", a("class", "attach") | a("alt", "Загрузка изображения")),
            imagePath("insert_code/insert_attachment_example_2.png"),
            Tf::Get, "", a("rel", "prettyPhoto[gallery]"))  %>


<b> -> </b>
<%== linkTo(
            imageTag("insert_code/result.png", a("class", "attach") | a("alt", "Результат")),
            imagePath("insert_code/result.png"),
            Tf::Get, "", a("rel", "prettyPhoto[gallery]")) %>
</div>
</div>
<div>
<br>
<%= H::tr("try") %>
<%== linkTo(H::tr("try_code"), urla("new"), Tf::Get, "", a("class", "button link")) %>
<%= H::tr("or") %>
<%== linkTo(H::tr("try_attach"), url("Attachments", "new"), Tf::Get, "", a("class", "button link")) %>
</div>
