<%#include "codes.h" %>
<%#include "attachments.h" %>
<% tfetch(Codes, code); %>

<div class="post">
        <h3><%= code.title() %></h3>
<div style="font-size:10px;font-style:italic;border-bottom: 1px solid #CCC;padding:3px;margin:3px;padding-left:15px">
        <%= H::tr("Added by") %>
            <b><% if(code.userId()) { %><%= code.author() %><% } else { %><%= H::tr("Guest") %><% } %></b>
    <%= code.createdAt().toString("dd.MM.yyyy в hh:mm:ss") %><br>
        <%= H::tr("Last edited") %>: <%= code.updatedAt().toString("dd.MM.yyyy " + H::tr("at") + " hh:mm:ss") %>
      </div>
<%== H::parseCode(code.code()) %>
        <input type="hidden" name="code" id="code">
    </div>

<% const auto& attachments = Attachments::getAll(code.id());

    if(attachments.count()) { %>
    <br>
        <fieldset>
            <legend> <%= H::tr("Attachments") %> </legend>
            <% for(const auto& attach: attachments) { %>
               <a href="/images/uploads/<%= attach.image() %>" rel="prettyPhoto[gallery]">
                   <%== imageTag("/images/uploads/" + attach.image(), a("class", "attach")) %>
               </a>
            <% } %>
        </fieldset>
<% } %>

<script type="text/javascript">
var editors = [], i = 0;
$('.editor').each(function(key, editor) {
    editors[i] = ace.edit(editor);
    editors[i].setTheme("ace/theme/eclipse");
    editors[i].getSession().setMode("ace/mode/" + (editor.lang ? editor.lang.toLowerCase() : 'javascript'));
    editor.style.fontSize='16px';
    var height = editors[i].getSession().getLength() * 18;
    editor.style.height = (height > 500 ? 500 : (height < 150 ? 150 : height)) + 'px'
    editors[i].setReadOnly(true)
    ++i;
})
</script>
