<%#include "attachments.h" %>
<%#include "codes.h" %>
<% tfetch(QVariantMap, attachments); %>

<h1><%= H::tr("Uploading picture") %></h1>

<%== formTag(H::createUrl({"attachments", "create"}), Tf::Post, true) %>
        <div class="form-inputs">
<% auto codesList = Codes::getAll();
if(!codesList.isEmpty()) { %>
        <label><%= H::tr("Code") %></label><br>
        <select name="attachments[codeId]">
            <option value=""></option>
            <% for(const auto& code: codesList) { %>
                <option value="<%= code.id() %>"><%= code.title() %></option>
            <% } %>
        </select>
       <% } %>
        <br>
        <small><i><%= H::tr("Note: If picture less than 150x150, it will be resized to it") %></i></small><br>
        <label><%= H::tr("Image") %></label><br>
<input type="file" name="attachments[image]">
            </div>
        <div class="form-actions">
            <input type="submit" value="<%= H::tr("Upload picture") %>">
        </div>

</form>

<%== linkTo(H::tr("Back"), H::createUrl("attachments", 1)) %>




