<%#include "attachments.h" %>

<% tfetch(Attachments, attachments); %>

<% if(!attachments.code().isNull()) { %>
    <p>
      <strong><%= H::tr("Code") %>:</strong>
        <%== linkTo(H::truncate(attachments.code().title(), 20), H::createUrl({"codes", QString::number(attachments.code().id())}), Tf::Get, a("class", "link")) %>
    </p>
<% } %>
<p>
  <strong><%= H::tr("Image") %>:</strong>
    <%== linkTo(H::truncate(attachments.image(), 20), QUrl("/uploads/images/" + attachments.image()), Tf::Get, a("class", "link") | a("target", "_blank")) %>
<br>
<br>
      <a href="/images/uploads/<%= attachments.image() %>" rel="prettyPhoto[gallery]">
          <%== imageTag("/images/uploads/" + attachments.image(), a("class", "attach")) %>
      </a>
</p>

<%== linkTo("Edit", urla("edit", attachments.id())) %> |
<%== linkTo("Back", urla("index")) %>

</body>
</html>
